<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="msg">
			<input type="button" value="发表留言" @click="submit">
		  <ul >
		  	<li v-for="(m,index) in message" :key='index'>
			<span>{{ m }}</span>
			<a href="javascript:;" @click="del_note(index)">删除</a>				
			</li>
		  </ul>
		  <div>留言总数为：<span style="color: blue;">{{message.length}}</span>条</div>
		  <input type="button" value="清空留言" v-if="message.length>0" @click="clear">
		</div>
		
	</body>
	<script type="text/javascript">
		new Vue({
		el: '#app',
		data: {
			message : ['111','222','333'],
			msg : "",
		},
		methods:{
			submit(){
				if (this.msg){
					// console.log(this.msg)
					// this.message.push(this.msg)   //加到尾部
					this.message.unshift(this.msg)   //加到头部
					this.msg = ''
				}
			},
			del_note(index){
				// console.log(index)
				this.message.splice(index,1)
			},
			clear(){
				// this.message = []  
				this.message.splice(0,this.message.length)
			},
		}
		})
	</script>
</html>
